POSTGRES_USER=hscode
POSTGRES_PASSWORD=hscode-dev-password
POSTGRES_DB=hscode
HSCODE_PORT=8765
VECTOR_THREADS=4

# 构建软件源；网络较慢时可参考 README 切换为国内镜像。
PYPI_INDEX_URL=https://pypi.org/simple
DEBIAN_MIRROR=http://deb.debian.org/debian
DEBIAN_SECURITY_MIRROR=http://deb.debian.org/debian-security
